@import url('https://fonts.googleapis.com/css?family=Baloo+2:600&display=swap');

/*
*   REFAZER!
*/

body #principal{
    display: grid;
    grid-template-columns: 1fr 20vw;
    grid-template-rows: 15vh 60vh 15vh;
    grid-template-areas:    "header header"
                            "conteudo conteudo"
                            "rodape rodape";
    gap: .5rem;
}
.cabecalho{
    grid-area: header;
    align-self: center;
    background-color: rgba(41, 39, 39, 0.925);
    color: rgb(179, 169, 169);
}
.conteudo{
    grid-area: conteudo;
    color: rgb(43, 40, 40);
    
}
.rodape{
    grid-area: rodape;
    background-color: rgba(41, 39, 39, 0.925);
    color: rgb(179, 169, 169);
}


/* Mobile First - Breakpoint: Default */
/* @media screen and (min-width: 300px) */
body{
    font-family: 'Baloo 2', cursive, monospace;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

h1{
    font-size: 1.3rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(4, 29, 172);
	text-shadow: 1px 1px 10px white;
}

header nav#menu{
    display: flex;
    padding: .2rem;
    justify-content: flex-end;  
}
header nav#menu a{
    margin: .5rem;
    font-size: 1.1rem;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo .content{
    padding: .5rem;
    margin: 1rem;
}

.conteudo .social{
    display: flex;
    justify-content: center;
}
.conteudo .social a{
    padding: 1rem;
    margin: 1rem;
}
.conteudo .social p{
    font-size: .9rem;
}
.conteudo .social p i{
    font-size: 1.2rem;
}

.conteudo .social p i.fa-github{
    color: black;
}
.conteudo .social p i.fa-linkedin{
    color: rgb(0, 115, 176);
}
.conteudo .social img{
    width: 1.9em;
}

.conteudo .social img:hover, .conteudo .social i:hover{
    transform: scale(1.5);
    transition: 0.8s;
}

footer{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1rem;    
}
footer img{
    width: 20px; 
    vertical-align: middle;
}
footer p{
    font-size: .9rem;
}

.rodape{
    margin-top: 7rem;
}
/* FIM do breakpoint @media screen and (min-width: 300px) */


/* 2º breakpoint */
@media screen and (min-width: 400px){
    h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.6rem;
    }
    p{
        font-size: 1.1rem;
    }
    
    header nav#menu a{
        margin: .4rem;
        font-size: 1.2rem;
    }

    .conteudo .social a i{
        font-size: 1.8rem;
    }

    footer img{
        width: 20px; 
        vertical-align: middle;
    }
    footer p{
        font-size: 1rem;
    }
} 
/* FIM do 2º breakpoint */


/* 3º breakpoint */
@media screen and (min-width: 580px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.7rem;
    }
    p{
        font-size: 1.2rem;
    }
    
    header nav#menu a{
        margin: .5rem;
        font-size: 1.3rem;
    }

    .conteudo .social a i{
        font-size: 1.9rem;
    }
} 
/* FIM do 3º breakpoint */


/* 4º breakpoint */
@media screen and (min-width: 768px){
    h1{
        font-size: 1.7rem;
    }
    h2{
        font-size: 1.9rem;
    }
    p{
        font-size: 1.4rem;
    }
    
    header nav#menu a{
        margin: .7rem;
        font-size: 1.5rem;
    }

    .conteudo .social a i{
        font-size: 2rem;
    }
 } 
/* FIM do 4º breakpoint */


/* 5º breakpoint */
@media screen and (min-width: 1024px){
    h1{
        font-size: 1.9rem;
    }
    h2{
        font-size: 2.1rem;
    }
    p{
        font-size: 1.6rem;
    }
    header nav#menu a{
        margin: 1rem;
        font-size: 1.5rem;
    }
    .conteudo .social a i{
        font-size: 2rem;
    }
} 
/* FIM do 5º breakpoint */

