@font-face{
	font-family: 'Baloo';
	src: url('./fonts/Baloo2-SemiBold.ttf');
}

body{
    font-family: monospace, 'Baloo', sans-serif;
    text-align: center;
    font-size: 14pt;
}
body a{
    text-decoration: none;
}

body a:hover{
    color: rgb(0, 102, 204);
    text-shadow: 1px 1px 1px black;
}

body footer p{
	margin-top: 50vh;
	font-size: 10pt;
}