@import url('https://fonts.googleapis.com/css?family=Baloo+2:600&display=swap');

body{
    font-family: 'Baloo 2', cursive, monospace;
    text-align: center;
    font-size: 14pt;
}
body a{
    text-decoration: none;
}

body a:hover{
    color: rgb(0, 102, 204);
    text-shadow: 1px 1px 1px black;
}

body footer p{
	margin-top: 45vh;
	font-size: 10pt;
}